body {
  margin: 40px 100px;
  padding: 0;
  font-family: sans-serif;
  background-color: aliceblue;

}

h1{
  color: cornflowerblue;
  text-align: center;
  /*font-family: 'Courgette', cursive;*/
  font-family: 'Reem Kufi', sans-serif;
  font-size: 40px;
}

.button {
    border: none;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    width:100px;

}

.button2 {
    background-color: aliceblue;
    color: cornflowerblue;
    box-sizing: inherit;
}

.button2:hover {
    text-decoration: underline;
}

.navitem{
    margin: 0 auto;
    width: 100%;
}

.content{
  font-family: 'Cairo', sans-serif;
  margin: 0 auto;
  width:80%;
}

.home{
  font-size: 25px;
  color: darkolivegreen;
}

.box{
  background-color: lightblue;
    width: 300px;
    border: 25px ;
    padding: 25px;
    margin: 25px;
}

.box p{
  text-align: center;
}

.boxalign{
  display: flex;
  align-content: space-between;

}

a{
  text-decoration: none;
}

h3{
  text-align: center;
}

.contact{
  text-align: center;
}

.contact a{
  padding: 0 0.825rem;
  text-decoration:none;
  color:cornflowerblue;
  transform: perspective(1px) translateZ(0);

}
